# Environment
venv/
.env
.env/
__pycache__/
*.pyc
.DS_Store

# Ollama / Chroma / LangChain
*.db
*.bin
*.json
*.pkl
*.ckpt
*.gguf
*.mpt
*.parquet
*.log
chroma/
chroma_db/
chroma_db_diag/
vectorstore/
data/
models/

# VS Code
.vscode/
